{% extends 'base.html' %}
{% load static %}

{% block style %}

{% endblock %}


{% block content %}

<div class="container my-1">
    <div class="text-center">
        <h2 class="my-5"><i class="fas fa-id-badge fa-lg"></i> 제작자 프로필</h2>
    </div>

    <div class="card">
        <div class="container my-4">
            <div class="d-flex justify-content-between border-bottom">
                <div>
                    <strong>PROFILE</strong>
                </div>
            </div>
<br>
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <div class="card" id="num1">
                    <div class="card-header">
                        <img src="{% static 'pybo/mypic.jpg' %}"
                             style="max-width: 100%; height: auto; display: block; border-radius: 10px;" alt="월풀">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Who Am I</h5>
                      <p class="card-text">
                        인천출생, 인천세일고등학교, 경기대학교 행정학과 졸업<br>
                        현재 인천 부개동에 거주중. 취미는 게임 / 책읽기 입니다.<br>
                        지금 까지 해왔던 일들과 다소 다른 업무를 시작했고<br>
                        파이썬(Python)을 기반으로 웹 사이트를 제작합니다.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="card" id="num2">
                    <div class="card-header">
                        <img src="{% static 'pybo/career.jpg' %}"
                             style="max-width: 100%; height: auto; display: block; border-radius: 10px;" alt="픽업">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Career</h5>
                      <p class="card-text">
                        총무, 자영업운영부터 요리까지 다소 특이한 이력들이 있습니다.<br>
                        여러 실무경험을 바탕으로 다방면의 작업이 가능합니다.<br><br>
                        &nbsp;&nbsp;한국금융투자협회 - 총무팀<br>
                        &nbsp;&nbsp;'숯불갈비 명성' - 운영<br>
                        &nbsp;&nbsp;행복해지는 60초 전우치 - 주방장<br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<br>
            <div class="container">
                      <div class="h6 border-bottom py-1 font-weight-bolder">
                          &nbsp;&nbsp;안내사항
                      </div>
            </div>
                      <ul class="slide my-1">
                            <li style="list-style:none;"><i class="fas fa-hand-point-up"></i>
                                &nbsp;제작한 포트폴리오는 상당 페이지에서 확인 하실수 있습니다.
                            </li>
                            <li style="list-style:none;"><i class="fas fa-hand-point-up"></i>
                                &nbsp;연락은 e-mail 혹은 직접연락 등등 다양한 수단 전부 가능합니다.
                            </li>
                            <li style="list-style:none;"><i class="fas fa-hand-point-up"></i>
                                &nbsp;이력서가 필요하시면 연락 남겨주세요
                            </li>
                      </ul>

        </div>
    </div>

</div>


{% endblock %}

<!--자바스크립트 Start-->
{% block script %}

<script>
$(document).ready(function() {

//슬라이드
    $('.slide').inewsticker({
        speed       : 3500,
        effect      : 'slide',
        dir         : 'ltr',
        font_size   : 15,
        color       : '#000',
        font_family : 'arial',
        delay_after : 1000
    });

});
</script>
<script src="{% static 'inewsticker/inewsticker.js' %}"></script>
<script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
{% endblock %}
<!--자바스크립트 End-->